.tabsRoot {
    display: flex;
    width: 100%;
  }
  
.tabsList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabTrigger {
  all: unset;
  padding: 10px;
  cursor: pointer;
  background-color: var(--amp-colors-tabs-background);
  border-radius: var(--amp-default-border-radius);
  margin-bottom: 5px;
}

.tabTrigger:hover {
  background-color: var(--amp-colors-bg-highlight);
}

.tabTrigger[data-state="active"] {
  background-color: var(--amp-colors-bg-highlight); 
}

.danger {
  color: var(--amp-colors-status-critical-dark);
}


