.authenticationRow {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: 1rem;
}

.field {
    color: var(--amp-colors-text-muted);
}

.value {
    color: var(--amp-colors-text-regular);
    text-align: right;
}

