# This ensures that when "npm install" is run in this directory, peer dependencies are not installed.
# This prevents the installation of react, so that when this package is used with a local test app which depends
# this directory via a symlink, there won't be 2 instances of React running, otherwise the test app will error.
# See https://docs.npmjs.com/cli/v9/using-npm/config#legacy-peer-deps.
legacy-peer-deps = true
