.button {
    color: var(--amp-colors-button-text);
    background-color: var(--amp-colors-button-primary);
    border-radius: var(--amp-default-border-radius);

    border: 1px solid;
    border-color: var(--amp-colors-border);
    height: 2.5rem;
    font-size: var(--amp-button-font-size);
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
    padding: 0 1rem;
    transition: all .1s ease;
}

.button:hover {
    opacity: .8;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: none;
}

.buttonError {
    border: 1px solid var(--amp-colors-status-critical);
}

.button:focus:enabled {
    /* border: 1px solid var(--amp-colors-input-border-focus); */
    outline: none;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.danger {
    color: var(--amp-colors-status-critical);
    background-color: var(--amp-colors-bg-secondary);
}

.ghost {
    border-color: var(--amp-colors-border);
    background-color: var(--amp-colors-bg-secondary);    
    color: var(--amp-colors-text-regular);
}
