.button {
    color: var(--amp-colors-button-text);
    background-color: var(--amp-colors-button-primary);
    border-radius: var(--amp-default-border-radius);

    border: 1px solid;
    border-color: inherit;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    padding: 0 1rem;
    transition: all .1s ease;
}

.button:hover {
    background-color: var(--amp-colors-button-primary-hover);
}

.buttonError {
    border: 1px solid var(--amp-colors-error-border);
}

.button:focus:enabled {
    border: 2px solid var(--amp-colors-accent-primary);
    outline: none;
}

.button:disabled {
    color: var(--amp-colors-button-text);
    background-color: var(--amp-colors-button-primary-disabled);
    cursor: not-allowed;
}

/* Additional styling to support screen readers */
button[aria-expanded="true"] {
    background-color: var(--amp-accessibility-color);  /* Can visually indicate button state */
}

.danger {
    color: var(--amp-colors-error-text);
    background-color: var(--amp-colors-error-background);
    border-color: var(--amp-colors-error-border);
}

.danger:hover {
    background-color: var(--amp-colors-error-background-hover);
}

.ghost {
    background-color: transparent;
    color: var(--amp-colors-button-primary);
}

.ghost:hover {
    background-color: var(--amp-colors-button-primary-hover);
    color: var(--amp-colors-button-text);
}

.ghost:hover:disabled {
    color: var(--amp-colors-button-text);
    background-color: var(--amp-colors-button-primary-disabled);
}
