/* CSS Reset Scoped with CSS Modules */


.resetContainer {
    /* Box sizing */
    *,
    *::before,
    *::after {
      box-sizing: border-box;       
    }

    * {
      font-family: var(--amp-font-family);
    }
  
    /* Body defaults */
    body {
      margin: 0;
      padding: 0;
    }

    h1, h2, h3, h4, h5, h6, p {
      margin: 0;
      padding: 0;
    }

    button {
      cursor: pointer;
    }
   
  }
  