:root {
    /* color tokens */
    --amp-colors-white: #ffffff;
    --amp-colors-black: #000000;

    --amp-colors-neutral-50: #fafafa;
    --amp-colors-neutral-100: #f5f5f5;
    --amp-colors-neutral-200: #e5e5e5;
    --amp-colors-neutral-300: #d4d4d4;
    --amp-colors-neutral-400: #a3a3a3;
    --amp-colors-neutral-500: #737373;
    --amp-colors-neutral-600: #525252;
    --amp-colors-neutral-700: #404040;
    --amp-colors-neutral-800: #262626;
    --amp-colors-neutral-900: #171717;
    --amp-colors-neutral-950: #0a0a0a;

    /* semantic colors  */
    --amp-shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --amp-shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --amp-colors-border: var(--amp-colors-neutral-200);

    --amp-colors-error-background: #FEF2F2;
    --amp-colors-error-background-hover: #FED7D7;
    --amp-colors-error-border: #FECACA;
    --amp-colors-error-text: #991B1B;

    --amp-colors-accent-primary: var(--amp-colors-neutral-700);
    --amp-colors-accent-secondary: var(--amp-colors-neutral-500);
    --amp-colors-background: var(--amp-colors-neutral-50);
    --amp-colors-background-secondary: #FCFCFC;
    --amp-colors-text-secondary: var(--amp-colors-neutral-500);

    --amp-colors-badge: var(--amp-colors-neutral-200);
    --amp-colors-badge-text: var(--amp-colors-neutral-700);

    --amp-colors-link-base: var(--amp-colors-neutral-500);
    --amp-colors-link-text: var(--amp-colors-link-base);
    --amp-colors-link-hover: calc(var(--amp-colors-link-base) + 10%);
    --amp-colors-link-focus: calc(var(--amp-colors-link-base) + 15%);
    --amp-colors-link-active: calc(var(--amp-colors-link-base) - 20%);

    --amp-colors-button-primary: var(--amp-colors-accent-primary);
    --amp-colors-button-primary-disabled: var(--amp-colors-accent-secondary);
    --amp-colors-button-text: var(--amp-colors-neutral-200);
    
    /* misc */
    --amp-default-border-radius: 4px;
    --amp-accessibility-color: #004080;
}
