@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    /* font */
    --amp-font-family: 'DM Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    /* COLOR TOKENS */
    --amp-colors-white: #ffffff;
    --amp-colors-black: #111111;
    --amp-colors-primary: #000000;

    --amp-colors-neutral-25: #FEFEFE;
    --amp-colors-neutral-50: #FDFCFD;
    --amp-colors-neutral-100: #FAFAFC;
    --amp-colors-neutral-200: #F6F5F9;
    --amp-colors-neutral-300: #F1EFF5;
    --amp-colors-neutral-400: #EDEAF2;
    --amp-colors-neutral-500: #E8E5EF;
    --amp-colors-neutral-600: #918E95;
    --amp-colors-neutral-700: #646266;
    --amp-colors-neutral-800: #363638;
    --amp-colors-neutral-900: #1D1D1D;
    
    /* SEMANTIC COLORS */

    /* typography colors */
    --amp-colors-text-standout: light-dark(var(--amp-colors-black), var(--amp-colors-white));
    --amp-colors-text-regular: light-dark(var(--amp-colors-neutral-900), var(--amp-colors-neutral-100));
    --amp-colors-text-muted: light-dark(var(--amp-colors-neutral-700), var(--amp-colors-neutral-200));

    /* bg-surfaces */
    --amp-colors-bg-primary: light-dark(var(--amp-colors-white), var(--amp-colors-neutral-800));
    --amp-colors-bg-secondary: light-dark(var(--amp-colors-neutral-50), var(--amp-colors-neutral-900));
    --amp-colors-bg-highlight: light-dark(var(--amp-colors-neutral-300), var(--amp-colors-neutral-700));

    /* default border */
    --amp-colors-border: light-dark(var(--amp-colors-neutral-300), var(--amp-colors-neutral-700));
    --amp-default-border-radius: 6px;

    /* status */
    --amp-colors-status-critical-dark: #702525;
    --amp-colors-status-critical: #E73D3D;
    --amp-colors-status-critical-muted: #FFD9D9;
     
    /* links */
    --amp-colors-link-text: light-dark(var(--amp-colors-neutral-900), var(--amp-colors-neutral-50));
    --amp-colors-link-focus: light-dark(var(--amp-colors-neutral-700), var(--amp-colors-neutral-700));
    /* optional use brand colors */
    --amp-colors-link-active: light-dark(var(--amp-colors-neutral-700), var(--amp-colors-neutral-200));

    /* button */
    --amp-colors-button-primary: var(--amp-colors-primary);
    --amp-colors-button-text: var(--amp-colors-white);

    /* input */
    --amp-colors-input-border-default: light-dark(var(--amp-colors-neutral-500), var(--amp-colors-neutral-700));
    --amp-colors-input-border-disabled: light-dark(var(--amp-colors-neutral-500), var(--amp-colors-neutral-600));
    --amp-colors-input-border-focus: light-dark(var(--amp-colors-neutral-900), var(--amp-colors-neutral-50));
    --amp-colors-input-border-hover: light-dark(var(--amp-colors-neutral-500), var(--amp-colors-neutral-600));
    
    --amp-colors-input-content-default: light-dark(var(--amp-colors-black), var(--amp-colors-white));
    --amp-colors-input-content-disabled: var(--amp-colors-neutral-600);
    --amp-colors-input-content-placeholder-text: var(--amp-colors-neutral-600);
    
    --amp-colors-input-surface-default: light-dark(var(--amp-colors-white), var(--amp-colors-neutral-900));
    --amp-colors-input-surface-disabled: light-dark(var(--amp-colors-neutral-200), var(--amp-colors-neutral-700));
    --amp-colors-input-surface-focus: light-dark(var(--amp-colors-white), var(--amp-colors-black));
    --amp-colors-input-surface-hover: light-dark(var(--amp-colors-neutral-200), var(--amp-colors-neutral-800));
}
