.checkboxGroupContainer {
    margin-bottom: 10px;
    border: 1px solid var(--amp-colors-border);
    border-radius: var(--amp-default-border-radius);
}
.stack {
    overflow-y: scroll;
    max-height: 300px;
}
  
.selectAllContainer {
    background-color: var(--amp-colors-bg-highlight);
    padding: 8px 10px;
    display: flex;
    align-items: center;
}
  
.fieldContainer {
    padding: 8px 10px;
    border-bottom: 1px solid var(--amp-colors-border);
    display: flex;
    align-items: center;
}
  
.checkbox {
    margin-right: 10px;
    background-color: var(--amp-colors-bg-primary);
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    border: 1px solid var(--amp-colors-input-border-default);
    cursor: pointer;
    flex: none;
}

.checkbox:hover {
    background-color: var(--amp-colors-input-surface-hover);
    border-color: var(--amp-colors-input-border-hover);
}
  
.checkbox:focus {
    border-color: var(--amp-colors-input-border-focus);
}
