.input {
    border-radius: var(--amp-default-border-radius);
    border: 1px solid;
    border-color: inherit;
    height: 2.5rem;
    transition: all .20s ease-in;

    color: var(--amp-colors-neutral-800);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    padding: 0 1rem;
    width: 100%;
    transition: all .1s ease;
}

.inputError {
    border: 1px solid var(--amp-colors-status-critical);
}

.input:focus:enabled {
    border: 2px solid var(--amp-colors-focus-border);
    outline: none;
}

.input:disabled {
    background-color: var(--amp-colors-neutral-300);
    border: 1px solid var(--amp-colors-neutral-400);
}

.error {
    color: var(--amp-colors-status-critical);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}
