.textarea {
    border-radius: var(--amp-default-border-radius);
    border: 1px solid;
    border-color: var(--amp-colors-input-border-default);
    background-color: var(--amp-colors-input-surface-default);
    color: var(--amp-colors-input-content-default);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    padding: .5rem 1rem;
    transition: all .05s ease-in;
}

.textareaError {
    border-color: var(--amp-colors-status-critical);
}

.textarea:focus:enabled {
    border: 2px solid var(--amp-colors-input-border-focus);
    outline: none;
}

.textarea:disabled {
    color: var(--amp-colors-input-content-disabled);
    background-color: var(--amp-colors-input-surface-disabled);
    border: 1px solid var(--amp-colors-input-border-disabled);
}

.error {
    color: var(--amp-colors-status-critical-dark);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}
