name: Publish React SDK to npm

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number for the SDK'
        required: true
      tag:
        description: 'Tag for the SDK version'
        required: true
        default: 'latest'
      dry_run:
        description: 'Dry run (test without actually publishing)'
        required: false
        type: boolean
        default: false

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        token: ${{ secrets.AMPERSAND_OPS_PAT }}
        ref: ${{ github.ref }}

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'
        cache: 'npm'
        always-auth: true

    - name: Install yarn
      run: npm i -g yarn

    - name: Install modules
      run: yarn

    - name: Update version number
      run: yarn version --new-version ${{ github.event.inputs.version }} --no-git-tag-version

    - name: Build project
      run: yarn build

    - name: Publish to npm
      id: publish_to_npm
      run: |
        if [ "${{ github.event.inputs.dry_run }}" = "true" ]; then
          echo "Running dry-run publish..."
          npm publish --dry-run --access public --tag ${{ github.event.inputs.tag }}
        else
          npm publish --provenance --access public --tag ${{ github.event.inputs.tag }}
        fi

    - name: Push changes back to repository
      if: steps.publish_to_npm.conclusion == 'success' && github.event.inputs.dry_run != 'true'
      run: |
        git config --global user.email "devops@withampersand.com"
        git config --global user.name "Ampersand Ops"
        git add package.json src/services/version.ts 
        git commit -m "[ampersand-ops] release: version ${{ github.event.inputs.version }}"
        git tag v${{ github.event.inputs.version }}
        git remote set-url origin https://x-access-token:${{ secrets.AMPERSAND_OPS_PAT }}@github.com/${{ github.repository }}
        git push origin --tags
        git push origin HEAD:${{ github.ref }}
      env:
        GITHUB_TOKEN: ${{ secrets.AMPERSAND_OPS_PAT }}

